In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv(r"C:\Users\Hello\Downloads\imdb_anime.csv")

In [3]:
data

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
0,One Piece,"Animation, Action, Adventure",8.9,"187,689",24 min,(1999– ),Follows the adventures of Monkey D. Luffy and ...,"Mayumi Tanaka,Laurent Vernin,Akemi Okamura,Ton...",TV-14,NaN,187689,0,NaN
1,Teenage Mutant Ninja Turtles: Mutant Mayhem,"Animation, Action, Adventure",7.4,"28,895",99 min,(2023),The film follows the Turtle brothers as they w...,NaN,PG,74,28895,0,NaN
2,The Super Mario Bros. Movie,"Animation, Adventure, Comedy",7.1,"189,108",92 min,(2023),A plumber named Mario travels through an under...,NaN,PG,46,189108,0,NaN
3,Attack on Titan,"Animation, Action, Adventure",9.1,"434,457",24 min,(2013–2023),After his hometown is destroyed and his mother...,"Josh Grelle,Bryce Papenbrook,Yûki Kaji,Yui Ish...",TV-MA,NaN,434457,0,NaN
4,Jujutsu Kaisen,"Animation, Action, Adventure",8.5,"82,909",24 min,(2020– ),A boy swallows a cursed talisman - the finger ...,"Junya Enoki,Yûichi Nakamura,Adam McArthur,Yuma...",TV-MA,NaN,82909,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45712,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",7.3,"3,432",24 min,(2019– ),Tanjiro heads to his next location southeast; ...,NaN,TV-14,NaN,3432,1,Tsuzumi Mansion
45713,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",7.9,"3,309",24 min,(2019– ),Tanjiro gets separated from Zenitsu when he en...,NaN,TV-MA,NaN,3309,1,"The Boar Bares Its Fangs, Zenitsu Sleeps"
45714,One Piece,"Animation, Action, Adventure",9.4,"2,743",NaN,(1999– ),Carrot tells Sanji the news about Pedro. Germa...,"Mayumi Tanaka,Tom Henry,Masako Katsuki,Mami Ko...",TV-14,NaN,2743,1,Time for Farewell! Pudding's One Last Request!
45715,Marmalade Boy,"Animation, Comedy, Drama",NaN,NaN,24 min,(1994–2005),NaN,"Ogie Banks,Deborah Sale Butler,John DeMita,Ric...",Not Rated,NaN,NaN,1,Hijiri naru yoru (ivu nanoni hitori bocchi...)
45716,Cinderella Nine,"Animation, Drama, Sport",6.0,6,24 min,(2019– ),On her very first day at Satogahama Municipal ...,NaN,NaN,NaN,6,1,Play Ball!

In [4]:
data.shape

(45717, 13)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45717 entries, 0 to 45716
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            45717 non-null  object
 1   Genre            45717 non-null  object
 2   User Rating      25009 non-null  object
 3   Number of Votes  25009 non-null  object
 4   Runtime          32549 non-null  object
 5   Year             45591 non-null  object
 6   Summary          23547 non-null  object
 7   Stars            13676 non-null  object
 8   Certificate      28694 non-null  object
 9   Metascore        341 non-null    object
 10  Gross            25009 non-null  object
 11  Episode          45717 non-null  object
 12  Episode Title    34910 non-null  object
dtypes: object(13)
memory usage: 4.5+ MB

In [6]:
data.describe()

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
count,45717,45717,25009,25009,32549,45591,23547,13676,28694,341,25009,45717,34910
unique,9851,201,87,3033,196,740,22588,6460,33,60,3033,3,33779
top,Doraemon,"Animation, Action, Adventure",7.6,7,24 min,(1969– ),A young teen who surfs the skies with his ref ...,"Nobuyo Ôyama,Noriko Ohara,Michiko Nomura,Kazuy...",TV-14,74,7,1,Episode #1.4
freq,2758,13568,1270,567,9636,2399,25,765,10033,21,567,34909,12

In [7]:
datax=data.copy()

In [8]:
datax.fillna({"Title":"no title","Genre":"no genre","User Rating":0,"Number of Votes":0,"Runtime":"10","Year":0,"Summary":"no summary","stars":"no stars","Certificate":"no certificate","Metascore":0,"Gross":10,"Episode Title":"no"},inplace=True)

In [9]:
datax.replace({"User Rating":{"User Rating":0},"Number of Votes":{"Number of Votes":0},"Runtime":{"Runtime":"10"},"Metascore":{"Metascore":0},"Gross":{"Gross":10},"Episode":{"Episode":0}},inplace=True)

In [10]:
datax=datax.astype({"User Rating":np.float16,"Metascore":int,"Gross":int,"Episode":int,"Year":str})

In [11]:
def func(x):
    return x.replace(" min","")
def f(x):
    return int(x)
def f1(x):
    return x.replace(",","")
datac["Runtime"]=datac["Runtime"].map(func).map(f1).map(f)

NameError: name 'datac' is not defined

In [ ]:
def func(x):
    return x.replace(" min","")
def f(x):
    return int(x)
def f1(x):
    return x.replace(",","")
def f2(x):
    return str(x)
datac["Number of Votes"]=datac["Number of Votes"].map(f2).map(func).map(f1).map(f)

In [12]:
datax.head()

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
0,One Piece,"Animation, Action, Adventure",8.898438,"187,689",24 min,(1999– ),Follows the adventures of Monkey D. Luffy and ...,"Mayumi Tanaka,Laurent Vernin,Akemi Okamura,Ton...",TV-14,0,187689,0,no
1,Teenage Mutant Ninja Turtles: Mutant Mayhem,"Animation, Action, Adventure",7.398438,"28,895",99 min,(2023),The film follows the Turtle brothers as they w...,NaN,PG,74,28895,0,no
2,The Super Mario Bros. Movie,"Animation, Adventure, Comedy",7.101562,"189,108",92 min,(2023),A plumber named Mario travels through an under...,NaN,PG,46,189108,0,no
3,Attack on Titan,"Animation, Action, Adventure",9.101562,"434,457",24 min,(2013–2023),After his hometown is destroyed and his mother...,"Josh Grelle,Bryce Papenbrook,Yûki Kaji,Yui Ish...",TV-MA,0,434457,0,no
4,Jujutsu Kaisen,"Animation, Action, Adventure",8.500000,"82,909",24 min,(2020– ),A boy swallows a cursed talisman - the finger ...,"Junya Enoki,Yûichi Nakamura,Adam McArthur,Yuma...",TV-MA,0,82909,0,no

In [13]:
#1)how many unique animes  are there ?
x=datax["Title"].nunique()

In [14]:
x

9851

In [15]:
#2) which anime has the highest user rating?
a=datax["User Rating"].max()
datax.loc[datax["User Rating"]==a,["Title"]]

                               Title
13656                    Idaten Jump
17874                   Vinland Saga
22753                Attack on Titan
34677                Hunter x Hunter
39614  Legend of the Galactic Heroes
45689                Attack on Titan

In [16]:
#3) which animes having the ratings between 7.0 to 9 ?
datax.loc[(datax["User Rating"]>=7.0) & (datax["User Rating"]<=9),["Title"]]

                                             Title
0                                        One Piece
1      Teenage Mutant Ninja Turtles: Mutant Mayhem
2                      The Super Mario Bros. Movie
4                                   Jujutsu Kaisen
6                   Demon Slayer: Kimetsu no Yaiba
...                                            ...
45709               Demon Slayer: Kimetsu no Yaiba
45710               Demon Slayer: Kimetsu no Yaiba
45711               Demon Slayer: Kimetsu no Yaiba
45712               Demon Slayer: Kimetsu no Yaiba
45713               Demon Slayer: Kimetsu no Yaiba

[15655 rows x 1 columns]

In [17]:
#4) which anime has highest and lowest runtime?
x=datax["Runtime"].max()
y=datax["Runtime"].min()
high=datax.loc[datax["Runtime"]==x,["Title"]]
low=datax.loc[datax["Runtime"]==y,["Title"]]
print(high)

                                                  Title
1           Teenage Mutant Ninja Turtles: Mutant Mayhem
503                              Pokémon the Movie 2000
686                       Josee, the Tiger and the Fish
842         Teenage Mutant Ninja Turtles: Mutant Mayhem
1341                             Pokémon the Movie 2000
1524                      Josee, the Tiger and the Fish
1799        The Seven Deadly Sins: Prisoners of the Sky
1953                              Space Adventure Cobra
2010  Doraemon The Movie: Nobita's Great Battle of t...
2086                 Doraemon: Nobita's Dorabian Nights
2235                             Child of Kamiari Month
2430                   Love Live! The School Idol Movie
2435             Detective Conan: The Fourteenth Target
2497                         The Princess and the Pilot
2515              Professor Layton and the Eternal Diva
2602  Anohana the Movie: The Flower We Saw That Day ...
2647           Pokémon the Movie: Secrets of the Jungle
2739               Doraemon: Nobita and the Spiral City
2870  Crayon Shinchan Super Dimension the Storm Call...
2925  Kureyon Shinchan: Dengeki! Buta no hizume dais...
2956    Detective Conan: The Last Wizard of the Century
3015  InuYasha the Movie 2: The Castle Beyond the Lo...
3235             Doraemon: Nobita and the Animal Planet
3328  InuYasha the Movie 3: Swords of an Honorable R...
4746                                 Jungle Emperor Leo
5085  Yôkai Watch: the Movie: The Flying Whale and t...
5108                                             Timing
5346  Mobile Suit Z Gundam III: A New Translation - ...
5546                                       TimeFighters
5670                                       Loups=Garous

In [18]:
print(low)

                            Title
2809                   Ani*Kuri15
3588                Henkei Shoujo
3708   Gloomy the Naughty Grizzly
4548                      Usavich
4792                 Tokino Kousa
...                           ...
23772  Gloomy the Naughty Grizzly
23773  Gloomy the Naughty Grizzly
23774  Gloomy the Naughty Grizzly
23775  Gloomy the Naughty Grizzly
33433                  Ani*Kuri15

[149 rows x 1 columns]

In [19]:
#5)what is the run time difference betwwen "ONE PIECE " and "SUPER MARIO BROS MOVIE"?

In [20]:
#6) which is the oldest anime?

In [21]:
#7>what are the animes released in year 2023?

def sub(s2):
    s1="2023"
    if(len(s2)<=6):
        if s1 in s2:
            return True
        return False
    return False
a=datax["Year"].map(sub)
b=a.values
c=datax[b]
c[["Title"]]

                                             Title
1      Teenage Mutant Ninja Turtles: Mutant Mayhem
2                      The Super Mario Bros. Movie
13                           The Boy and the Heron
21                    Ruby Gillman, Teenage Kraken
42                     Resident Evil: Death Island
...                                            ...
7965                                 Yomawari Neko
8558          Girls und Panzer das Finale: Part IV
8605                        Jinzô Mahô Shôjo Kaini
8840                             The Dog & The Boy
10314                           The Floating World

[105 rows x 1 columns]

In [22]:
#8) what is the average user rating of all the animes whose genre is action.

def sub(s2):
    s1="Action"
    if s1 in s2:
        return True
    return False

a=datax["Genre"].map(sub)
b=a.values
c=datax[b]
c["User Rating"].mean()

inf

In [23]:
#9>which anime has the least gross price?
a=datax["Gross"].min()
datax.loc[datax["Gross"]==a,["Title"]]

                                                   Title
3233                                          Show Time!
5620                                   The Peasant Noble
5714   Meitantei Conan Magic File 4: Osaka okonomiyak...
6142   Fist of the North Star Legennd of Heroes - Spe...
6236                                     Shakotan Boogie
...                                                  ...
45600                                    Girl Beats Boys
45601                                    Girl Beats Boys
45602                                    Girl Beats Boys
45606                                    Girl Beats Boys
45608                                    Girl Beats Boys

[168 rows x 1 columns]

In [24]:
#10>which anime has the highest gross price?
x=datax["Gross"].max()
datax.loc[datax["Gross"]==x,["Title","Gross"]]

      Title    Gross
47   WALL·E  1162284
888  WALL·E  1162284

In [25]:
#11) how many animes belongs to PG certificate?
x=datax.loc[datax["Certificate"]=="PG",["Title"]].shape
x

(425, 1)

In [27]:
#12) what is the average no.of votes in your dataset.
datax["Number of Votes"].mean()
# not geting answer