In [2]:
import numpy as np
import pandas as pd

In [3]:
data=pd.read_csv(r"C:\Users\Hello\Downloads\cleaned_all_phones.csv")

In [4]:
data

,phone_name,brand,os,inches,resolution,battery,battery_type,ram(GB),announcement_date,weight(g),...,video_1080p,video_4K,video_8K,video_30fps,video_60fps,video_120fps,video_240fps,video_480fps,video_960fps,price(USD)
0,Y6II Compact,Huawei,Android 5.1,5.00,720x1280,2200,Li-Po,2,2016-09-01,140.0,...,False,False,False,True,False,False,False,False,False,120.000
1,K20 plus,LG,Android 7.0,5.30,720x1280,2700,Li-Ion,2,2016-12-01,140.0,...,True,False,False,True,False,False,False,False,False,100.000
2,P8 Lite (2017),Huawei,Android 7.0,5.20,1080x1920,3000,Li-Ion,4,2017-01-01,147.0,...,True,False,False,True,False,False,False,False,False,420.000
3,Redmi Note 4,Xiaomi,Android 6.0,5.50,1080x1920,4100,Li-Po,4,2017-01-01,165.0,...,True,False,False,True,False,True,False,False,False,150.000
4,P10,Huawei,Android 7.0,5.10,1080x1920,3200,Li-Ion,4,2017-02-01,145.0,...,True,True,False,True,True,False,False,False,False,420.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507,vivo Y77t,Vivo,Android 13,6.64,1080x2388,5000,Li-Po,8,2023-08-18,190.0,...,True,False,False,True,False,False,False,False,False,170.000
1508,11x,Realme,Android 13,6.72,1080x2400,5000,Li-Po,8,2023-08-23,190.0,...,True,False,False,True,False,False,False,False,False,182.880
1509,GT5,Realme,Android 13,6.74,1240x2772,5240,Li-Po,16,2023-08-28,205.0,...,True,True,False,False,True,False,False,False,False,380.000
1510,GT5 240W,Realme,Android 13,6.74,1240x2772,4600,Li-Po,24,2023-08-28,205.0,...,True,True,False,False,True,False,False,False,False,470.000
1511,vivo iQOO Z7 Pro,Vivo,Android 13,6.78,1080x2400,4600,Li-Po,8,2023-08-31,175.0,...,True,True,False,True,False,False,False,False,False,287.988

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   phone_name         1512 non-null   object
 1   brand              1512 non-null   object
 2   os                 1512 non-null   object
 3   inches             1512 non-null   float64
 4   resolution         1512 non-null   object
 5   battery            1512 non-null   int64
 6   battery_type       1512 non-null   object
 7   ram(GB)            1512 non-null   int64
 8   announcement_date  1512 non-null   object
 9   weight(g)          1512 non-null   float64
 10  storage(GB)        1512 non-null   int64
 11  video_720p         1512 non-null   bool
 12  video_1080p        1512 non-null   bool
 13  video_4K           1512 non-null   bool
 14  video_8K           1512 non-null   bool
 15  video_30fps        1512 non-null   bool
 16  video_60fps        1512 non-null   bool
 17  video_120fps       1512 non-null   bool
 18  video_240fps       1512 non-null   bool
 19  video_480fps       1512 non-null   bool
 20  video_960fps       1512 non-null   bool
 21  price(USD)         1512 non-null   float64
dtypes: bool(10), float64(3), int64(3), object(6)
memory usage: 156.6+ KB

In [7]:
data.describe()

,inches,battery,ram(GB),weight(g),storage(GB),price(USD)
count,1512.000000,1512.000000,1512.000000,1512.000000,1512.000000,1512.000000
mean,6.422460,4389.798942,6.683862,187.636243,109.164683,337.847036
std,0.477043,784.607022,2.701433,26.200115,74.436484,266.740821
min,3.800000,1821.000000,1.000000,130.000000,1.000000,40.000000
25%,6.300000,4000.000000,4.000000,175.000000,64.000000,179.997500
50%,6.500000,4500.000000,8.000000,187.000000,128.000000,260.000000
75%,6.670000,5000.000000,8.000000,197.250000,128.000000,400.000000
max,10.400000,7250.000000,24.000000,500.000000,512.000000,2300.000000

In [8]:
data.shape

(1512, 22)

In [10]:
#1) how many unique mobile brands are there in the data provided.
x=data["brand"].unique()

In [11]:
x

array(['Huawei', 'LG', 'Xiaomi', 'Sony', 'Oppo', 'Samsung', 'Lenovo',
       'Apple', 'Google', 'Honor', 'Realme', 'OnePlus', 'Vivo'],
      dtype=object)

In [12]:

len(x)

13

In [13]:
#2)What is the average ram size of all the collected data.
data["ram(GB)"].mean()

6.6838624338624335

In [17]:
#3)Which phone is having the maximum and minimum battery capacity.

x=data["battery"].max()
data.loc[data["battery"]==x,["phone_name"]]

    phone_name
573         V6

In [18]:
x=data["battery"].min()
data.loc[data["battery"]==x,["phone_name"]]

           phone_name
62           iPhone 8
536  iPhone SE (2020)

In [24]:
#4)What is the maximum battery capacity provided by Huawei Company

c=data.loc[data["brand"]=="Huawei",["battery"]].max()
c

battery    7000
dtype: int64

In [30]:
#5) Which Phone brand is providing the highest and lowest ram
x=data["ram(GB)"].min()
data.loc[data["ram(GB)"]==x,["brand"]]

       brand
27    Huawei
28   Samsung
69   Samsung
133   Huawei
182  Samsung
230  Samsung
236   Huawei
244   Xiaomi
304  Samsung
363       LG
550  Samsung

In [27]:
x=data["ram(GB)"].max()
data.loc[data["ram(GB)"]==x,["brand"]]

        brand
1505   Xiaomi
1506  OnePlus
1510   Realme

In [17]:
#6) How many phones has android 7.0 as there operating system
x=data.loc[data["os"]=="Android 7.0",["phone_name","os"]]

In [18]:
x

            phone_name           os
1             K20 plus  Android 7.0
2       P8 Lite (2017)  Android 7.0
4                  P10  Android 7.0
5           Xperia XA1  Android 7.0
6             P10 Lite  Android 7.0
7             P10 Plus  Android 7.0
8     Xperia XA1 Ultra  Android 7.0
9             X power2  Android 7.0
13           Xperia L1  Android 7.0
16     Galaxy Xcover 4  Android 7.0
18          Galaxy S8+  Android 7.0
21             Harmony  Android 7.0
24                  Y7  Android 7.0
25         nova 2 plus  Android 7.0
26              nova 2  Android 7.0
31        Stylo 3 Plus  Android 7.0
33           X venture  Android 7.0
37       Galaxy J7 Max  Android 7.0
38    Galaxy J7 (2017)  Android 7.0
39       Galaxy J7 Pro  Android 7.0
40    Galaxy J5 (2017)  Android 7.0
41            Y7 Prime  Android 7.0
43           Q8 (2017)  Android 7.0
47        P9 lite mini  Android 7.0
49    Galaxy S8 Active  Android 7.0
50     Xperia XA1 Plus  Android 7.0
69    Galaxy J2 (2017)  Android 7.0
70        Mate 10 Lite  Android 7.0
77       Redmi Y1 Lite  Android 7.0
78            moto tab  Android 7.0
82               K320t  Android 7.0
91                 X4+  Android 7.0
109  Galaxy J7 Prime 2  Android 7.0

In [19]:
len(x)

33

In [31]:
#7) which is the oldest phone announced and also give the announced dates.
x=data["announcement_date"].min()
data.loc[data["announcement_date"]==x,["brand","announcement_date"]]

    brand announcement_date
0  Huawei        2016-09-01

In [39]:
#8) Which brand produced maximum and minimum number of phone in the given data
x=data["brand"].min()
data.loc[data["brand"]==x,["phone_name","brand"]].count()

phone_name    22
brand         22
dtype: int64

In [32]:
x=data["brand"].max()
data.loc[data["brand"]==x,["phone_name","brand"]].count()

phone_name    264
brand         264
dtype: int64

In [42]:
#9) how many phones supports 4k,8k video?

In [46]:
print(len(data.loc[data["video_4K"]==True,["brand","phone_name"]]))
data.loc[data["video_4K"]==True,["brand","phone_name"]]

801

        brand         phone_name
4      Huawei                P10
7      Huawei           P10 Plus
11       Sony         Xperia XZs
12       Sony  Xperia XZ Premium
15       Oppo            F3 Plus
...       ...                ...
1505   Xiaomi    Redmi K60 Ultra
1506  OnePlus          Ace 2 Pro
1509   Realme                GT5
1510   Realme           GT5 240W
1511     Vivo   vivo iQOO Z7 Pro

[801 rows x 2 columns]

In [47]:
print(len(data.loc[data["video_8K"]==True,["brand","phone_name"]]))
data.loc[data["video_8K"]==True,["brand","phone_name"]]

86

        brand           phone_name
466   Samsung        Galaxy S20 5G
467   Samsung       Galaxy S20+ 5G
468   Samsung     Galaxy S20 Ultra
470   Samsung  Galaxy S20 Ultra 5G
471   Samsung          Galaxy S20+
...       ...                  ...
1447     Vivo       vivo iQOO Neo8
1476     Vivo        vivo iQOO 11S
1497  Samsung       Galaxy Z Fold5
1504   Xiaomi           Mix Fold 3
1505   Xiaomi      Redmi K60 Ultra

[86 rows x 2 columns]

In [48]:
#10>How many phones supports Li-Po and Li-ion Battery
a=data.loc[data["battery_type"]=="Li-Po",["phone_name"]].count()
a

phone_name    1242
dtype: int64

In [51]:
b=data.loc[data["battery_type"]=="Li-Ion",["phone_name"]].count()
b

phone_name    270
dtype: int64

In [52]:
#11>give me phone as well as the brand name having the cheap price
x=data["price(USD)"].min()
data.loc[data["price(USD)"]==x,["brand","phone_name"]]

      brand phone_name
452  Realme        C2s

In [53]:
#11)
x=data["price(USD)"].max()
data.loc[data["price(USD)"]==x,["brand","phone_name"]]

      brand phone_name
777  Huawei     P40 4G

In [54]:
#11)How many sony phones supports 720x1280 resolution
print(len(data.loc[data["resolution"]=="720x1280",["brand","phone_name"]]))
data.loc[data["resolution"]=="720x1280",["brand","phone_name"]]

41

       brand          phone_name
0     Huawei        Y6II Compact
1         LG            K20 plus
5       Sony          Xperia XA1
9         LG            X power2
13      Sony           Xperia L1
14      Oppo                 A39
16   Samsung     Galaxy Xcover 4
17   Samsung         Galaxy J7 V
20    Huawei           Y5 (2017)
21        LG             Harmony
23    Huawei           Y6 (2017)
24    Huawei                  Y7
30    Xiaomi        Redmi 4 (4X)
40   Samsung    Galaxy J5 (2017)
41    Huawei            Y7 Prime
47    Huawei        P9 lite mini
48      Sony  Xperia XZ1 Compact
56      Oppo                 A71
59    Lenovo                  K8
66      Sony    Xperia R1 (Plus)
74    Xiaomi  Redmi Y1 (Note 5A)
77    Xiaomi       Redmi Y1 Lite
79    Xiaomi            Redmi 5A
90        LG            Aristo 2
91        LG                 X4+
93      Sony           Xperia L2
96        LG          K10 (2018)
98      Oppo          A71 (2018)
99        LG           K8 (2018)
116       LG              Zone 4
126  Samsung       Galaxy J7 Duo
136  Samsung           Galaxy J4
149       LG                 K30
153  Samsung    Galaxy J7 (2018)
154  Samsung    Galaxy J3 (2018)
168       LG            K11 Plus
169       LG           X power 3
187       LG               Candy
244   Xiaomi            Redmi Go
245       LG      Tribute Empire
339  Samsung    Galaxy Xcover 4s

In [55]:
#12) Print a pivot table for finding the average weights ,total weights,based on brand and battery type
pd.pivot_table(data,index="brand",columns="battery_type",values=["weight(g)"],aggfunc=["mean"])

                    mean
               weight(g)
battery_type      Li-Ion       Li-Po
brand
Apple         186.227273         NaN
Google        190.666667  176.923077
Honor         165.333333  190.611570
Huawei        158.354839  187.556604
LG            154.851852  183.812500
Lenovo        190.142857  218.586207
OnePlus              NaN  191.553191
Oppo          157.833333  183.174603
Realme        166.833333  189.688742
Samsung       178.531250  196.727273
Sony          177.333333  178.769231
Vivo                 NaN  190.232143
Xiaomi        179.294118  195.906883